img{
    width: 250px;
    height: 250px;
}
body{
    background-color: rgb(187, 187, 187);

}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}